- @question.answers.each do |answer|
  - if answer.persisted?
    .answer{id: "answer-#{answer.id}", class: item_class(answer)}
      .answer-body
        .answer-text= answer.body.html_safe
        %ul.answer-files
          - answer.attachments.build
          - answer.attachments.each do |attachment|
            - if attachment.persisted?
              %li= link_to attachment.file.filename, attachment.file.url

      - if answer.from?(current_user)
        .answer-edit-form
          = render 'answers/form', answer: answer

      .row.answer-details
        - if answer.from?(current_user)
          .controls.col-sm-6
            = link_to t('common.edit'), [:edit, @question, answer], class: 'edit', data: {answer_id: answer.id}
            = link_to t('common.delete'), answer, class: 'delete', method: :delete, data: { confirm: t("common.sure") }, remote: true
        .started.col-sm-6.pull-right
          %span.time= created_ago answer
          %span.author
            = link_to answer.user do
              = image_tag answer.user.avatar_url(:thumb), class: 'avatar'
              = answer.user.name
          %span.author-reputation

      - if user_signed_in?
        = link_to t('comment.add'), new_answer_comment_path(answer), class: 'add-comment'
        .comment-create-form
          = render 'comments/form', commentable: answer, comment: answer.comments.build, edit: true

      .comments
        = render 'comments/comments', commentable: answer

