- remote = resource.persisted? if remote.nil?
- resource.attachments.build

- if resource.errors.any?
  - resource.errors.full_messages.each do |error|
    %ul.errors.question-errors
      %li.alert.alert-danger= error

= form_for resource, remote: true do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.text_area :body, class: 'form-control'
  .form-group
    = f.label :tag_list
    = f.text_field :tag_list, class: 'form-control suggest-tag'

  = f.fields_for :attachments do |a|
    .form-group.file-upload
      - if a.object.persisted?
        = a.label :file
        = link_to a.object.file.filename, a.object.file.url
        %label.nested
          = t('common.replace_file')
          = a.file_field :file
        = a.label t('common.delete')
        = a.check_box '_destroy'
      - else
        = a.label :file
        = a.file_field :file

  .form-group
    = link_to t('attachment.add'), '#', class: "add-file btn btn-info btn-xs"

  .form-group
    = f.submit t('question.ask'), data: {disable_with: t('common.processing')}, class: 'btn btn-success'
    - if remote
      %button.cancel.btn= t('common.cancel')