- questions.each do |question|
  .question{id: "question-#{question.id}"}
    .counters
      .votes
      .answers
      .views
    .content
      %h3= link_to question.title, question
      .row.details
        .tags.col-sm-6
          - question.tags.each do |tag|
            =link_to tag.name, tag
        .started.col-sm-6
          %span.time= created_ago question
          %span.author
            = link_to question.user do
              = image_tag question.user.avatar_url(:thumb), class: 'avatar'
              = question.user.name
          %span.author-reputation