%h1= resource.title

.vote-cell
  = render 'vote_cell'

.question-cell
  .question-body
    .question-meta
      %a.spoiler-btn{href: '#', data: {toggle: "collapse", target: ".meta-spoiler"}}
        %b.caret
      .meta-spoiler.collapse
        %span.views-count
          %span.glyphicon.glyphicon-eye-open
          = resource.views_count
        %span.created-ago
          %span.glyphicon.glyphicon-time
          = t('common.last_activity')
          = timeago_tag resource.updated_at, lang: I18n.locale

    .question-text
      = resource.body.html_safe

    %ul.question-files
      - resource.attachments.each do |attachment|
        - if attachment.persisted?
          %li
            %span.glyphicon.glyphicon-file
            = link_to attachment.file.filename, attachment.file.url

  - if resource.from?(current_user)
    #question-edit-form
      = render 'form'

  .tags
    - resource.tags.each do |tag|
      = link_to tag.name, tag

  .row.question-details
    .controls.col-sm-6
      - if resource.from?(current_user)
        = link_to t('common.edit'), [:edit, resource], class: 'edit btn btn-warning btn-xs'
        = link_to t('common.delete'), resource, class: 'delete btn btn-danger btn-xs', remote: true, method: :delete, data: { confirm: t("common.sure") }
      - elsif user_signed_in?
        - if current_user.subscribed_to?(resource)
          = link_to t('common.unsubscribe'), [:unsubscribe_from, resource], method: 'delete', class: 'unsubscribe btn btn-default btn-xs'
        - else
          = link_to t('common.subscribe'), [:subscribe_to, resource], class: 'subscribe btn btn-default btn-xs'

    = render 'shared/author', resource: resource

  .comments
    = render 'comments/comments', commentable: resource

  - if resource.bounty
    = render 'bounties/bounty', bounty: resource.bounty

  - if user_signed_in?
    = link_to t('comment.add'), new_question_comment_path(resource), class: 'add-comment btn btn-default btn-xs'

  - if resource.from?(current_user) && resource.bounty.nil?
    = render 'bounties/form', parent: resource

    = link_to t('bounty.start'), '#', class: 'start-bounty btn btn-default btn-xs'