%h1= @question.title

.question-body
  .question-text= @question.body.html_safe
  %ul.question-files
    - @question.attachments.build
    - @question.attachments.each do |attachment|
      - if attachment.persisted?
        %li= link_to attachment.file.filename, attachment.file.url

- if @question.from?(current_user)
  .question-edit-form
    = render 'form'

.tags
  / .tag-list= @question.tag_list
  - @question.tags.each do |tag|
    = link_to tag.name, tag

.row.question-details
  .controls.col-sm-6
    - if @question.from?(current_user)
      = link_to t('common.edit'), [:edit, @question], class: 'edit'
      = link_to t('common.delete'), @question, class: 'delete', method: :delete, data: { confirm: t("common.sure") }

  .started.col-sm-6.pull-right
    %span.time= created_ago @question
    %span.author= link_to @question.user.name, @question.user
    %span.author-reputation

- if user_signed_in?
  = link_to t('comment.add'), new_question_comment_path(@question), class: 'add-comment'
  .comment-create-form
    = render 'comments/form', commentable: @question, comment: @comment, edit: true

.comments
  = render 'comments/comments', commentable: @question