%h1= @question.title

.vote-cell
  = link_to [@question, :vote_up], remote: true, data: {type: 'json'}, class: 'upvote' + vote_class(@question, :up) do
    %span.glyphicon.glyphicon-chevron-up
    .text= upvote_text(@question)

  .vote-sum= @question.vote_sum

  = link_to [@question, :vote_down], remote: true, data: {type: 'json'}, class: 'downvote' + vote_class(@question, :down) do
    %span.glyphicon.glyphicon-chevron-down
    .text= downvote_text(@question)

.question-cell
  .question-body
    .question-text= @question.body.html_safe
    %ul.question-files
      - @question.attachments.build
      - @question.attachments.each do |attachment|
        - if attachment.persisted?
          %li
            %span.glyphicon.glyphicon-file
            = link_to attachment.file.filename, attachment.file.url

  - if @question.from?(current_user)
    .question-edit-form
      = render 'form'

  .tags
    - @question.tags.each do |tag|
      = link_to tag.name, tag

  .row.question-details
    .controls.col-sm-6
      - if @question.from?(current_user)
        = link_to t('common.edit'), [:edit, @question], class: 'edit btn btn-warning btn-xs'
        = link_to t('common.delete'), @question, class: 'delete btn btn-danger btn-xs', method: :delete, data: { confirm: t("common.sure") }

    .started.col-sm-6.pull-right
      = timeago_tag @question.created_at, lang: I18n.locale
      %span.author
        = link_to @question.user do
          = image_tag @question.user.avatar_url(:thumb), class: 'avatar'
          = @question.user.name
      %span.author-reputation

    .comment-create-form
      = render 'comments/form', commentable: @question, comment: @comment, edit: true

  .comments
    = render 'comments/comments', commentable: @question

    - if user_signed_in?
      = link_to t('comment.add'), new_question_comment_path(@question), class: 'add-comment btn btn-default btn-xs'