%h1= @question.title

.question-body
  .question-text= @question.body.html_safe
  %ul.question-files
    - @question.attachments.each do |attachment|
      - if attachment.persisted?
        %li= link_to attachment.file.filename, attachment.file.url

- if @question.from?(current_user)
  .question-edit-form
    = render 'form', edit: true

.tags
  - @question.tags.each do |tag|
    .tag= link_to tag.name, tag

.details
  - if @question.from?(current_user)
    .controls.col-sm-6
      = link_to t('common.edit'), [:edit, @question], class: 'edit'
      = link_to t('common.delete'), @question, class: 'delete', method: :delete, data: { confirm: t("common.sure") }

  .started.col-sm-6.pull-right
    %span.time= created_ago @question
    %span.author= link_to @question.user.name, @question.user
    %span.author-reputation