= link_to_vote_for(resource, :up) do
  .text= vote_text(resource, :up)

.vote-sum= resource.vote_sum

= link_to_vote_for(resource, :down) do
  .text= vote_text(resource, :down)

= add_to_favorites_link(resource) do
  .text= resource.favored_by?(current_user) ? t('favorite.favored') : t('favorite.favor')