= link_to_vote_for(@question, :up) do
  .text= vote_text(@question, :up)

.vote-sum= @question.vote_sum

= link_to_vote_for(@question, :down) do
  .text= vote_text(@question, :down)

= add_to_favorites_link(@question) do
  .text= @question.favored_by?(current_user) ? t('favorite.favored') : t('favorite.favor')