.question{id: "question-#{@question.id}"}
  = render 'question'

#answers
  = render 'answers'

#new-answer-form
  %h2= t('answer.your')
  = render 'answers/form', answer: @answer

- unless user_signed_in?
  #login-form
    %h4= t('user.login_to_answer')
    =render 'users/login_form'

  #registration-form
    = link_to t('user.register'), new_user_registration_path

= subscribe_to "/questions/#{@question.id}/answers"
= subscribe_to "/questions/#{@question.id}/comments"
