.question{id: "question-#{@question.id}"}
  = render 'question'

#answers
  %h3= t('activerecord.models.answer', count: @question.answers.count)
  = render 'answers'

%h2= t('answer.your')
#answer-form
  = render 'answers/form'

- unless user_signed_in?
  #login-form
    %h4= t('user.login_to_answer')
    =render 'users/login_form'

  #registration-form
    = link_to t('user.register'), new_user_registration_path
