#question
  %h1= @question.title

  .content= @question.body.html_safe
  .tags
    - @question.tags.each do |tag|
      .tag= link_to tag.name, tag_path(tag)
  .details
    - if @question.from?(current_user)
      .controls.col-sm-6
        = link_to t('common.edit'), edit_question_path(@question)
        = link_to t('common.delete'), question_path(@question, authenticity_token: form_authenticity_token), method: :delete

    .started.col-sm-6.pull-right
      %span.time= created_ago @question
      %span.author= link_to @question.user.name, user_path(@question.user)
      %span.author-reputation

#answers
  %h3= t('activerecord.models.answer', count: @question.answers.count)
  = render 'answers/answers', question: @question

  = render 'answers/form'

- unless user_signed_in?
  #login-form
    %h4= t('user.login_to_answer')
    =render 'users/login_form'

  #registration-form
    = link_to t('user.register'), new_user_registration_path
