%h2= "#{t('user.edit')} #{resource.class.model_name.human}"

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control', autofocus: true
  .form-group
    = f.label :email
    = f.email_field :email, class: 'form-control', autofocus: true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    .form-group
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .form-group
    = f.label :password
    %i= t('user.leave_blank')
    %br/
    = f.password_field :password, class: 'form-control', autocomplete: "off"
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: 'form-control', autocomplete: "off"
  .form-group
    = f.label :current_password
    %i= "#{t('user.current_password_required')}"
    %br/
    = f.password_field :current_password, class: 'form-control', autocomplete: "off"
  = f.submit t('user.update'), class: 'btn btn-success'

%h3= t('user.cancel_account')
%p
  = t('user.unhappy')
  =button_to t('user.cancel_my_account'), registration_path(resource_name), class: 'btn btn-warning', data: { confirm: "Are you sure?" }, method: :delete
= link_to t('common.back'), :back