%h2= t('user.registration')
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .control-group
    = f.label :name
    = f.text_field :name, class: 'form-control', autofocus: true
  .control-group
    = f.label :email
    = f.email_field :email, class: 'form-control', autofocus: true
  .control-group
    = f.label :password
    = f.password_field :password, class: 'form-control', autocomplete: "off"
  .control-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: 'form-control', autocomplete: "off"
  = f.submit t('user.register'), class: 'btn btn-primary'

= render "devise/shared/links"