- commentable.comments.each do |comment|
  - if comment.persisted?
    .comment{id: "comment-#{comment.id}"}
      .comment-body= comment.body

      - if comment.from?(current_user)
        .comment-edit-form
          = render 'comments/form', comment: comment, commentable: commentable, edit: true

      .row.comment-details
        - if comment.from?(current_user)
          .controls.col-sm-6
            = link_to t('common.edit'), [:edit, commentable, comment], class: 'edit', data: {comment_id: comment.id}
            = link_to t('common.delete'), [commentable, comment], class: 'delete', method: :delete, data: { confirm: t("common.sure") }, remote: true

        .started.col-sm-6.pull-right
          %span.time= created_ago comment
          %span.author= link_to comment.user.name, comment.user