- if comment.errors.any?
  - comment.errors.full_messages.each do |error|
    %ul.errors.comment-errors
      %li.alert.alert-danger= error

= form_for [commentable, comment] do |f|
  .form-group
    = f.text_area :body, id: (comment.id ? "comment-body-#{comment.id}" : "comment_body" ), class: "form-control"
  .form-group
    = f.submit t('comment.add'), data: {disable_with: t('common.processing')}, class: 'btn btn-success'