%ul.errors.question-errors
- if resource.profile.errors.any?
  - resource.profile.errors.full_messages.each do |error|
    %li.alert.alert-danger= error
- if resource.errors.any?
  - resource.errors.full_messages.each do |error|
    %li.alert.alert-danger= error

= form_for resource, role: 'form' do |f|
  .form-group
    = f.label :avatar
    = f.file_field :avatar
    = image_tag resource.avatar_url(:medium), class: 'avatar'

  = f.fields_for :profile do |p|
    .form-group
      = p.label :real_name
      = p.text_field :real_name, class: 'form-control'
    .form-group
      = p.label :website
      = p.text_field :website, class: 'form-control'
    .form-group
      = p.label :location
      = p.text_field :location, class: 'form-control'
    .form-group
      = p.label :birthday
      = p.date_select :birthday, class: 'form-control'
    .form-group
      = p.label :about
      = p.text_area :about, class: 'form-control'

  = f.submit t('common.save'), data: {disable_with: t('common.processing')}, class: 'btn btn-success'