- content_for :title do
  = t('activerecord.models.user.other')

%h1= t('activerecord.models.user.other')

#users
  - @users.each do |user|
    .user
      = link_to user do
        = image_tag user.avatar_url(:thumb), class: 'avatar'
      %h3= link_to user.name, user


= paginate @users