- content_for :title do
  = t('activerecord.models.user.one')
  = resource.name

#user
  %h1
    = t('activerecord.models.user.one')
    = resource.name

  .user-basic-details
    = image_tag resource.avatar_url(:medium), class: 'avatar'

    .user-reputation
      %h3= t('activerecord.attributes.user.reputation')
      %p= resource.reputation

  .row
    .col-sm-6
      %h2= t('user.private')
      %table
        %tr
          %td= t('activerecord.attributes.user.real_name')
          %td= resource.real_name
        - if resource == current_user
          %tr
            %td= t('activerecord.attributes.user.email')
            %td= resource.email

      %h2= t('user.bio')
      %table
        %tr
          %td= t('activerecord.attributes.user.website')
          %td= resource.website
        %tr
          %td= t('activerecord.attributes.user.location')
          %td= resource.location
        %tr
          %td= t('user.age')
          %td= timeago_tag resource.birthday, lang: I18n.locale if resource.birthday

      %h2= t('user.visits')
      %table
        %tr
          %td= t('user.member_for')
          %td= timeago_tag resource.created_at, lang: I18n.locale
        %tr
          %td= t('user.visited')
          %td= "#{resource.sign_in_count} #{t('time.times')}"
          / visited   485 days, 6 consecutive
        %tr
          %td= t('user.seen')
          %td= timeago_tag resource.current_sign_in_at, lang: I18n.locale
          / seen  1 min ago

      %h2= t('user.stats')
      %table
        %tr
          %td= t('user.profile_views')
          %td= distance_of_time_in_words(resource.created_at, Time.now)
          / profile views   46
        %tr
          %td= t('user.helpful_flags')
          %td= distance_of_time_in_words(resource.created_at, Time.now)
          / helpful flags   1

    .col-sm-6
      %h3= t('activerecord.attributes.user.about')
      .about
        = resource.about

    .col-sm-6
      %h2
        = link_to user_questions_path(resource) do
          = resource.questions.count
          = t('activerecord.models.question', count: resource.questions.count)
      %h2
        = link_to user_answers_path(resource) do
          = resource.answers.count
          = t('activerecord.models.answer', count: resource.answers.count)

      %h2= t('vote.voting')
      %h4= link_to t('activerecord.models.question.other'), [resource, :voted, :questions]
      %h4= link_to t('activerecord.models.answer.other'), [resource, :voted, :answers]

      %h2= t('user.favorites')
      %h4= link_to t('activerecord.models.question.other'), [resource, :favorited, :questions]

  - if resource == current_user
    .row.submit
      .col-sm-12
        = link_to t('common.edit'), edit_user_path(resource), class: 'btn btn-primary'