%h1= t('user.change_password')

#new-password-form.auth-form
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .form-group
      = f.label :password, t("user.new_password")
      = f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control'
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'

    = f.submit t('user.change_password'), class: "btn btn-primary", data: {disable_with: t('common.processing')}

  = render "devise/shared/links"