= form_for [parent, parent.build_bounty], url: [parent, :bounty], remote: true, id: 'bounty-form' do |f|
  .form-group
    = t('bounty.offer')
    %span.glyphicon.glyphicon-certificate
    = f.select :value, nil, {}, class: "form-control" do
      = options_for_select(bounty_values)
    = t('bounty.for_answer')

  = f.submit t('bounty.create'), data: {disable_with: t('common.processing')}, class: "btn btn-success"
  %button.cancel.btn= t('common.cancel')