.started.col-sm-6.pull-right
  = timeago_tag resource.created_at, lang: I18n.locale
  .author
    = link_to resource.user, class: 'avatar' do
      = image_tag resource.user.avatar_url(:thumb)
    .user-details
      = link_to resource.user.name, resource.user, class: 'user-name'
      .user-reputation
        = resource.user.reputation