%header
  .container-fluid
    .row
      %nav.navbar.navbar-inverse{role: "navigation"}
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{'data-target' => ".navbar-collapse", 'data-toggle' => "collapse", :type => "button", title: t('toggle_nav')}
              %span.sr-only= t('toggle_nav')
              -3.times do
                %span.icon-bar
            .brand
              %a{ href: '/', id: 'logo', title: t('to_home')}
                = image_tag "logo.png"
              .menu-heading.visible-xs= t('main_menu')

          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li= link_to t('question.many'), questions_path
              %li= link_to t('question.ask'), new_question_path
              %li= link_to t('help'), help_path
              - if user_signed_in?
                %li= link_to t('user.profile'), user_path(current_user)
                %li= link_to t('user.settings'), edit_user_registration_path
                %li= link_to t('user.log_out'), destroy_user_session_path, method: :delete
              - else
                %li= link_to t('user.log_in'), new_user_session_path
                %li= link_to t('user.registration'), new_user_registration_path