%header
  .container-fluid
    .row
      %nav.navbar.navbar-inverse{role: "navigation"}
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{'data-target' => ".navbar-collapse", 'data-toggle' => "collapse", :type => "button", title: t('toggle_nav')}
              %span.sr-only= t('toggle_nav')
              -3.times do
                %span.icon-bar
            .brand
              %a{ href: '/', id: 'logo', title: t('to_home'), class: cp(root_path)}
              .menu-heading.visible-xs= t('main_menu')

          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li{class: cp(questions_path)}
                = link_to t('activerecord.models.question.other'), questions_path
              %li{class: cp(users_path)}
                = link_to t('activerecord.models.user.other'), users_path
              %li{class: cp(tags_path)}
                = link_to t('activerecord.models.tag.other'), tags_path
              %li{class: cp(help_path)}
                = link_to t('help'), help_path

            %ul.nav.navbar-nav.navbar-right
              - if user_signed_in?
                %li.dropdown
                  = link_to '#', class: 'dropdown-toggle user-name', data: {toggle: 'dropdown'} do
                    = current_user.name
                    %b.caret
                  %ul.dropdown-menu
                    %li{class: cp(current_user)}
                      = link_to t('user.profile'), current_user
                    %li{class: cp(edit_user_registration_path)}
                      = link_to t('user.settings'), edit_user_registration_path
                    %li
                      = link_to t('user.log_out'), destroy_user_session_path, method: :delete
              - else
                %li= link_to t('user.log_in'), new_user_session_path
                %li= link_to t('user.registration'), new_user_registration_path