.answer{id: "answer-#{answer.id}", class: item_class(answer)}
  .vote-cell

    = link_to_vote_for(answer, :up) do
      .text= vote_text(answer, :up)

    .vote-sum= answer.vote_sum

    = link_to_vote_for(answer, :down) do
      .text= vote_text(answer, :down)

    - if parent.user == current_user
      = link_to [:accept, parent, answer], remote: true, method: 'patch', class: accept_link_class(parent, answer), title: parent.accepted?(answer) ? t('answer.best') : t('answer.choose') do
        %span.glyphicon.glyphicon-ok
        %span.text= parent.accepted?(answer) ? t('answer.best') : t('answer.choose')
    - elsif parent.accepted?(answer)
      .accept.accepted
        %span.glyphicon.glyphicon-ok
        %span.text= t('answer.best')

  .answer-cell
    .answer-body
      .answer-text= answer.body.html_safe
      %ul.answer-files
        - answer.attachments.each do |attachment|
          - if attachment.persisted?
            %li
              %span.glyphicon.glyphicon-file
              = link_to attachment.file.filename, attachment.file.url

    - if answer.from?(current_user)
      .answer-edit-form
        = render 'answers/form', answer: answer

    .row.answer-details
      .controls.col-sm-6
        - if answer.from?(current_user)
          = link_to t('common.edit'), [:edit, parent, answer], class: 'edit btn btn-warning btn-xs', data: {answer_id: answer.id}
          = link_to t('common.delete'), [parent, answer], class: 'delete btn btn-danger btn-xs', method: :delete, data: { confirm: t("common.sure") }, remote: true
      = render 'shared/author', resource: answer

    .comments
      = render 'comments/comments', commentable: answer

    - if user_signed_in?
      = link_to t('comment.add'), new_answer_comment_path(answer), class: 'add-comment btn btn-default btn-xs'