- remote = answer.persisted? if remote.nil?
- answer.attachments.build

- if answer.errors.any?
  - answer.errors.full_messages.each do |error|
    %ul.errors.answer-errors
      %li.alert.alert-danger= error

= form_for [@question, answer], remote: true do |f|
  .form-group
    = f.text_area :body, class: "form-control"

  = f.fields_for :attachments do |a|
    .form-group.file-upload
      - if a.object.persisted?
        = a.label :file
        = link_to a.object.file.filename, a.object.file.url
        %label.nested
          = t('common.replace_file')
          = a.file_field :file
        = a.label t('common.delete')
        = a.check_box '_destroy'
      - else
        = a.label :file
        = a.file_field :file

  .form-group
    = link_to t('attachment.add'), '#', class: "add-file btn btn-info btn-xs"

  = f.submit t('answer.post'), data: {disable_with: t('common.processing')}, class: "btn btn-success"
  - if remote
    %button.cancel.btn= t('common.cancel')