%h1= t('activerecord.models.tag', count: collection.length)

#tags
  - collection.each do |tag|
    .tag
      %h2
        = link_to tag.name, tag
        %span.count
          = tag.questions_count
          = t('activerecord.models.question', count: tag.questions_count)
      .tag-excerpt= tag.excerpt
      .tag-text= tag.description
