%h1
  = t('activerecord.models.tag.one')
  = resource.name

%h2
  = link_to  [resource, :questions] do
    = resource.questions_count
    = t('activerecord.models.question', count: resource.questions_count)
    = t('tag.with')
    = resource.name

.tag-body
  .tag-excerpt
    = resource.excerpt
  .tag-description
    = resource.description

