%p #{t('common.hello')} #{@resource.email}!
%p= t('user.password_change_requested')
%p= link_to t('user.change_password'), edit_password_url(@resource, reset_password_token: @token)
%p= t('user.ignore_unless_requested')
%p= t('user.password_wont_change')
